# CityBikes

Send a request to CityBikes for the city of your choice.

In [ ]:
import requests
import pandas as pd

# Define the Citybikes API endpoint for the SOBI Hamilton network
api_endpoint = 'https://api.citybik.es/v2/networks/sobi-hamilton'

# Make a GET request to the API endpoint
response = requests.get(api_endpoint)

# Check the HTTP status code of the response
status_code = response.status_code

# Print the status code
print(f"HTTP Status Code: {status_code}")

# Parse the response data as JSON
data = response.json()

# Display the retrieved data
print(data)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

Using a for loop to append .....

In [ ]:
# Extract the list of stations from the response data
stations = response.json()['network']['stations']

# Initialize an empty list to store station data
station_data = []

# Loop through each bike station
for station in stations:
    # Extract relevant information for each station
    name = station['name']
    latitude = station['latitude']
    longitude = station['longitude']
    bikes = station['free_bikes']
    total_bike_slots = station['empty_slots']
    
    # Append station information to the list
    station_data.append({"Station Name": name, "Latitude": latitude, 
                         "Longitude": longitude, "Free Bikes": bikes, "Empty slots": total_bike_slots})

# Display the extracted station data
station_data

Put your parsed results into a DataFrame.

In [42]:
import pandas as pd

# Create a DataFrame using the extracted station data
citybikes_df = pd.DataFrame(station_data)

# Save the DataFrame to a CSV file without index column
citybikes_df.to_csv('citybikes_data.csv', index=False)

I was thought json normalize by a mentor (Brian) and i decided to add it to my code as seen below

In [48]:
df_new = pd.json_normalize(station_data)
df_new

              Station Name   Latitude  Longitude  Free Bikes  Empty slots
0             Hess at king  43.259126 -79.877212           3            9
1            Bayfront Park  43.269288 -79.871327          10           25
2          Bay at Strachan  43.267859 -79.867923           4           18
3          Bay at Mulberry  43.263198 -79.871803           4           10
4                City Hall  43.256132 -79.874499           2           15
..                     ...        ...        ...         ...          ...
140  King William at James  43.257635 -79.868487           4            2
141        Westdale Aviary  43.264869 -79.907480           9            0
142       Hunter GO Centre  43.253330 -79.869533           4           11
143       Westdale Village  43.262015 -79.905088          12            6
144       Cannon at Ottawa  43.247565 -79.818050           5            6

[145 rows x 5 columns]

In [50]:
# new column merging latitude and longitude into a string
df_new['ll'] = df_new['Latitude'].astype(str) + ',' + df_new['Longitude'].astype(str)
df_new.to_csv('citybikes_data.csv', index=False)